.l-big-slider {
  width: 100%;
  padding: 100px 0;
  background-image: url('../../../src/static/i/big-slider-chick.png');
  background-size: cover;
  z-index: 9;
}

.l-slide-header {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.l-slide-text {
  padding-bottom: 40px;
}