.l-blogs {
  width: 100%;
  background-image: url('../../../src/static/i/blogs-bgnd.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.l-blogs--body {
  width: 100%;
  padding: 60px 0;
}

.l-blogs-container__main {
  float: left;
  width: 66%;
}

.l-blogs-aside-container {
  float: right;
  width: 33%;
}

