.l-blogs {
  width: 100%;
  background-image: url('../../../src/static/i/blogs-bgnd.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.l-blogs--body {
  width: 100%;
  padding: 60px 0;
}