.l-footer {
  width: 100%;
  padding: 30px 0;
  background-color: #f6f6f6;
}

.l-footer-info {
  width: 275px;
  padding: 25px;
  background-color: #fff;
  float: right;
}

.c-footer-logo {
  display: block;

  img {
    -webkit-filter: grayscale(100%);
  }

  img:hover {
    -webkit-filter: grayscale(0);
  }
}

.c-footer-info-social {
  padding: 20px 0;
}

.c-footer-info-social-item {
  display: inline-block;
  .c-social-counter {
    display: none;
  }
}

.c-footer-info-social-item:hover {
  .c-social-counter {
    display: inline-block;
  }
}

.l-footer-columns {
  margin-right: 275px;
  padding: 20px 0;
  columns: 150px 4;

  ul {
    padding: 0px 0 20px 40px;
  }
}

.c-footer-text__primary {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #000;
}

.c-footer-text__secondary {
  font-size: 12px;
  font-weight: 400;
  color: #505050;
}

.c-footer-info-text__primary {
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #000;
  padding-bottom: 25px;
}

.c-footer-info-text__secondary {
  font-size: 11px;
  font-weight: 400;
  color: #505050;
  padding-bottom: 25px;
}

.c-footer-info-text__underline {
  text-decoration: underline;
}