.c-article-frame {
  border: 1px solid #f2f2f2;
  background-color: #fff;
  margin-bottom: 30px;
}

.c-article-frame-placeholder {
  position: relative;
  height: 360px;
  width: 305px;
  margin-bottom: 30px;
}

.c-article-frame__small {
  @extend .c-article-frame;
  width: 305px;
  margin-bottom: 10px;

  &:hover {
    position: absolute;
    top: 0;
    z-index: 5;

    .c-article-summary__small {
      display: block;
    }
  }
}

.c-article-info-box {
  width: 100%;
  box-shadow: inset 0px 9px 8px -2px rgba(#f1f1f1, 0.6);
}

.c-article-info-time,
.c-article-info-views {
  line-height: 40px;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #aeaeae;
  vertical-align: middle;
  float: left;
  margin-right: 15px;

  span:first-child {
    vertical-align: middle;
    opacity: 0.3;
    margin-right: 5px;
  }
}

.c-article-info-share {
  float: right;
  padding-top: 11px;

  &:hover {
    span {
      @extend .icon-share_blue
    }
  }
}

.c-article-category {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
}

.c-article-category-container {
  line-height: 30px;
  vertical-align: middle;
}

.c-article-category__purple {
  @extend .c-article-category;
  color: #c44d9b;
}

.c-article-category__orange {
  @extend .c-article-category;
  color: #ffa100;
}

.c-article-category__green {
  @extend .c-article-category;
  color: #60c80d;
}

.c-article-category__blue {
  @extend .c-article-category;
  color: #3498db;
}

.c-article-image {
  width: 100%;
  position: relative;

  img {
    width: 100%;
  }
}

.c-article-image-button {
  position: absolute;
  bottom: 30px;
  left: 30px;

  &:hover {
    @extend .c-btn__yellow;
  }
}

.c-article-header-container__big {
  padding: 25px 0;
}
.c-article-header-container__big__boredered {
  @extend .c-article-header-container__big;
  border-bottom: 0.5px solid #e6e6e6;
}

.c-article-header__big, 
.c-article-header__big a {
    font-size: 21px;
    font-weight: 700;
    color: #000;
}

.c-article-header__small, 
.c-article-header__small a {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

//  AUTHOR--------

.c-article-author {
  width: 100%;
  padding: 10px 0;
}

.c-article-author-userpic {
  width: 55px;
  height: 55px;
  float: left;
  margin-right: 10px;
}

.c-article-author-name {
  float: left;
  max-width: 50%;
  padding-top: 10px;
}

.c-article-author-text__primary {
  a {
    font-size: 14px;
    font-weight: 700;
    color: #101010;
  }

  a:hover {
    text-decoration: underline;
  }
}

.c-article-author-text__secondary {
  font-size: 8px;
  letter-spacing: 0.5px;
  font-weight: 700;
  color: #a9a8a8;
}

.c-article-ingsoc {
  float: right;
  position: relative;
  padding-top: 15px;

  &:hover {
    &:before {
      content: 'НАЙТИ МЕНЯ';
      font-size: 10px;
      letter-spacing: 1px;
      font-weight: 700;
      color: #a9a8a8;
      position: absolute;
      top: 50%;
      left: -100px;
    }
  }
}

.c-ingsoc-branch__article {
  @extend .c-ingsoc-branch;

  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

//-----------------

.c-article-summary {
  font-size: 15px;
  font-weight: 400;
  color: #aeaeae;
  text-align: justify;

  p {
    padding: 10px 0;
  }
}

.c-article-summary__small {
  font-size: 13px;
  font-weight: 400;
  color: #aeaeae;
  text-align: justify;

  p {
    padding: 10px 0;
  }
}

.c-article-text {
  font-size: 13px;
  line-height: 1.7;
  font-weight: 400;
  color: #000;
  padding: 10px 0;
  text-align: justify;

  p {
    padding: 5px 0;
  }

  p:last-child {
    padding-bottom: 15px;
  }
}

// ACTIONS-------------

.c-btn-rounded__article {
  @extend .c-btn-rounded;

  &:hover {
    @extend .c-btn-rounded__blue;
  }
}

.c-article-actions-social {
  float: right;

  &:hover {
    &:before {
      content: 'ПОДЕЛИТЬСЯ';
      font-size: 10px;
      letter-spacing: 1.5px;
      font-weight: 700;
      color: #a9a8a8;
      margin-right: 5px;
    }
  }
}

.c-social-net__fb__article {
  @extend .c-social-net__fb;
  margin-left: 5px;
}

.c-social-net__twitter__article {
  @extend .c-social-net__twitter;
  margin-left: 5px;
}

.c-social-net__vk__article {
  @extend .c-social-net__vk;
  margin-left: 5px;
}

.c-social-counter__article {
  @extend .c-social-counter;
  margin-left: 3px;
}
// -------------------