.c-set-item {
  min-width: 33%;
  min-height: 70px;
  line-height: 70px;
  vertical-align: middle;
  position: relative;
  border-bottom: 0.5px solid #f2f2f2;
  border-left: 0.5px solid #f2f2f2;
  border-right: 0.5px solid #f2f2f2;

  &:hover {
    .c-set-item--text__primary {
      color: #3498db;
    }
  }
}

.c-set-item--pic,
.c-set-item--text {
  float: left;
}

.c-set-item--pic {
  line-height: 0;
  margin-right: 10px;
  a {
    vertical-align: top;
  }
}

.c-set-item--text {
  overflow: hidden;
  padding: 15px 0;
  max-width: 200px;
}

.c-set-item--text__primary {
  font-size: 14px;
  color: #000;
  @extend .truncate;
  line-height: 1.3333;
}

.c-set-item--text__secondary {
  font-size: 12px;
  color: #858585;
  @extend .truncate;
  line-height: 1.3333;
}

.c-set-item--more {
  float: right;

  a {
    display: block;
    padding: 0 12px;
  }

  &:hover {
    span {
      @extend .icon-more_vertical_blue;
    }
  }
}

.c-set-item--menu {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 25px;
  border-right: 1px solid #ededed;
  border-left: 1px solid #ededed;
  z-index: 3;
  background-color: #fff;
}

.c-set-item--menu-item {
  display: inline-block;
  a {
    display: block;
    line-height: 70px;
    padding: 0 12px;
  }
}

.c-set-item-divider {
  width: 100%;
  border: 2px solid #2281c0;
}

.c-set-item-divider__orange {
  width: 100%;
  border: 2px solid #ffa100;
}

.c-set-item-divider__purple {
  width: 100%;
  border: 2px solid #c44d9b;
}

.c-set-item-button {
  width: 100%;
  padding: 10px 0;

  a {
    width: 100%;
  }
}

.c-set-video-frame {
  width: 100%;
  height: 213px;
}

.c-set-announcement {
  width: 100%;
}

.c-set-announcement-number {
  width: 70px;
  height: 70px;
  background-color: #000;
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  line-height: 70px;
  vertical-align: middle;
  float: left;
}

.c-set-announcement-day {
  float: left;
  height: 70px;
  padding: 15px;
}

.c-set-announcement-day__primary {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.c-set-announcement-day__secondary {
  font-size: 11px;
  font-weight: 700;
  color: #aeaeae;
  letter-spacing: 1px;
}

.c-set-announcement--preview {
  height: 145px;
  position: relative;
}

.c-set-announcement-textblock {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.c-set-announcement-text__primary {
  font-size: 15px;
  color: #fff;
}

.c-set-announcement-text__secondary {
  font-size: 12px;
  color: #858585;
}

.c-set-announcement--preview-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.c-set-item__announcement-placeholder {
  height: 50px;
  position: relative;
}

.c-set-item__announcement {
  min-width: 33%;
  max-width: 300px;
  border-bottom: 0.5px solid #f2f2f2;
  border-left: 0.5px solid #f2f2f2;
  border-right: 0.5px solid #f2f2f2;
  padding: 10px 10px;

  &:hover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0px -5px 7px 0px rgba(0, 0, 0, 0.31);

    .c-set-item--icons {
      opacity: 1;
    }

    .c-set-item--text__secondary,
    .c-set-item--text__primary {
      white-space: normal;
    }
  }
}

.c-set-item--text__announcement {
  overflow: hidden;
  padding-right: 5px;
}

.c-set-item--icons {
  float: right;
  line-height: 30px;
  opacity: 0.7;
}

.c-set-item--icons-item {
  margin-right: -5px;
  &:last-child {
    margin: 0;
  }
}

.c-set-item__chart {
  min-width: 33%;
  min-height: 60px;
  line-height: 60px;
  vertical-align: middle;
}

.c-set-item--position {
  float: left;
  width: 30px;
  height: 30px;
  margin: 14px 5px 0 5px;
  line-height: 27px;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  border: 2px solid #000;
  border-radius: 20px;
}

.c-set-item--rating-value {
  font-size: 14px;
  font-weight: 700;
}

.c-set-item--rating__negative {
  position: relative;
  float: left;
  margin: 0 5px;

  &:after {
    content: '';
    @extend .icon;
    @extend .icon-rating-down;
    position: absolute;
    bottom: 15px;
  }

  .c-set-item--rating-value {
    color: #ff441e;
  }
}

.c-set-item--rating__supernegative {
  position: relative;
  float: left;
  margin: 0 5px;

  &:after {
    content: '';
    @extend .icon;
    @extend .icon-rating-down_double;
    position: absolute;
    bottom: 15px;
  }

  .c-set-item--rating-value {
    color: #ff441e;
  }
}

.c-set-item--rating__positive {
  position: relative;
  float: left;
  margin: 0 5px;

  &:before {
    content: '';
    @extend .icon;
    @extend .icon-rating-up;
    position: absolute;
    top: 15px;
  }

  .c-set-item--rating-value {
    color: #50bc00;
  }
}

.c-set-item--rating__superpositive {
  position: relative;
  float: left;
  margin: 0 5px;

  &:before {
    content: '';
    @extend .icon;
    @extend .icon-rating-up_double;
    position: absolute;
    top: 15px;
  }

  .c-set-item--rating-value {
    color: #50bc00;
  }
}

.c-set-item--text__chart {
  overflow: hidden;
  padding: 12px 0 0 0;
  margin-left: 5px;
  max-width: 200px;
  float: left;
}