.c-slide {
  text-align: center;
}

.c-slide__team {
  @extend .clearfix;
}

.c-slider__team {
  position: relative;
}

.c-slider-content__team {
  margin: 0 40px;
  float: left;
}

.c-slide__parnters {
  @extend .clearfix;
}

.c-slider-content__partners {
  float: left;
  margin: 0 auto;
}

.c-slide-img-container__partners {
  width: 140px;
  height: 100px;
  margin: 0 5px;
  float: left;
  vertical-align: middle;
  text-align: center;

  img {
    -webkit-filter: grayscale(90%);
    vertical-align: middle;
  }

  img:hover {
    -webkit-filter: none;
  }

  a {
    display: block;
    height: 100px;
    line-height: 100px;
  }
}


//  CONTROLS  //

.c-slider-controls-container {
  width: 100%;
  padding: 20px 0;
}

.c-slider-controls {
  @extend .clearfix;
  width: 100%;
}

.c-slider-controls-left__team,
.c-slider-controls-right__team {
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;

  &:before {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

.c-slider-controls-left__team {
  left: 0;
}

.c-slider-controls-right__team {
  right: 0;
}

.c-slider-controls__partners {
  line-height: 100px;
  vertical-align: middle;
}

//=====================

//  SLIDER INDICATOR  //

.c-slider-controls-indicator {
  margin: auto;
  text-align: center;
  @extend .clearfix;
}

.c-slider-controls-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #888;
  background-color: #888;
  border-radius: 50%;
  margin-right: 5px;

  & a:last-child {
    margin-right: 0;
  }
}

.c-slider-controls-dot__active {
  @extend .c-slider-controls-dot;
  background-color: #fff;
}

//=========================//

//  FONTU DESU  //

.c-slider-font__extrabold {
  font-size: 36px;
  font-weight: 800;
}

.c-slider-font__extrabold__blue {
  @extend .c-slider-font__extrabold;
  color: #2e91d3;
}

.c-slider-font__primary {
  font-size: 36px;
  font-weight: 300;
  color: #000;
}

.c-slider-font__secondary {
  font-size: 21px;
  font-weight: 300;
  color: #a1a1a1;
}

//=========================//

// BUSINESS CARD  //
.c-slide-card {
  padding: 20px;
  width: 250px;
  margin: 0 25px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
}

.c-slide-card-userpic {
  display: block;
}

.c-slide-card-textblock {
  padding: 15px 0;
}

.c-slide-card-text__primary {
  font-size: 16px;
  font-weight: 700;
  color: #101010;

  &:hover {
    text-decoration: underline;
  }
}

.c-slide-card-text__secondary {
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #a9a8a8;
}

.c-slide-card-related {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 0;
}

.c-slide-card-related-icon {
  float: right;
  width: 20px;
}

.c-slide-card-related-text {
  vertical-align: middle;
  margin-right: 20px;
  line-height: 16px;

  a {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #3498db;
  }
}

.c-slide-card-social {
  padding-top: 20px;
}

//=========================//