.c-slide {
  text-align: center;
}

.c-slider-controls-container {
  width: 100%;
  padding: 20px 0;
}

.c-slider-controls {
  @extend .clearfix;
  width: 100%;
}

//  SLIDER INDICATOR  //

.c-slider-controls-indicator {
  margin: auto;
  text-align: center;
  @extend .clearfix;
}

.c-slider-controls-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #888;
  background-color: #888;
  border-radius: 50%;
  margin-right: 5px;

  & a:last-child {
    margin-right: 0;
  }
}

.c-slider-controls-dot__active {
  @extend .c-slider-controls-dot;
  background-color: #fff;
}

//=========================//

//  FONTU DESU  //

.c-slider-font__extrabold {
  font-size: 36px;
  font-weight: 800;
}

.c-slider-font__extrabold__blue {
  @extend .c-slider-font__extrabold;
  color: #2e91d3;
}

.c-slider-font__primary {
  font-size: 36px;
  font-weight: 300;
  color: #000;
}

.c-slider-font__secondary {
  font-size: 21px;
  font-weight: 300;
  color: #a1a1a1;
}

//=========================//