//  BUTTONS

.c-btn {
  line-height: 1.333;
  padding: 10px 20px;
  font-size: 9px;
  letter-spacing: 1px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
}

.c-btn__yellow {
  @extend .c-btn;
  color: #fff;
  background-color: #ffa800;
}

.c-btn__blue {
  @extend .c-btn;
  color: #fff;
  background-color: #3498db;
}

.c-btn-rounded {
  color: #777;
  line-height: 1.333;
  padding: 10px 20px;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  background-color: #fff;
  border: 1px solid  #c8c8c8;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
}

.c-btn-rounded__orange {
  @extend .c-btn-rounded;
  background-color: #ffa400;
  border: 1px solid  #ffa400;
  color: #fff;
}

.c-btn-rounded__blue {
  @extend .c-btn-rounded;
  background-color: #2281c0;
  border: 1px solid  #2281c0;
  color: #fff;
}

.c-icn-btn {
  display: inline-block;
  padding: 0 5px;
  line-height: 1.5;
}

.c-icn-btn__yellow {
  @extend .c-icn-btn;
  background-color: #ffa100;
}

.c-icn-btn__blue {
  @extend .c-icn-btn;
  background-color: #2b8bcc;
}

//=========================

//  SOCIAL ITEMS

.c-social-counter {
  font-size: 10px;
  font-weight: 700;
  color: #000;
  display: inline-block;
  letter-spacing: 1px;
}

.c-social-net {
  width: 26px;
  height: 26px;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;

}

.c-social-net__fb {
  @extend .c-social-net;
  background-color: #4e6ab1;
}

.c-social-net__twitter {
  @extend .c-social-net;
  background-color: #1aacea;
}

.c-social-net__vk {
  @extend .c-social-net;
  background-color: #436c98;
}

.c-ingsoc-branch {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid #eee;

  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

//========================


//  DIVIDERS
.c-divider {
  width: 100%;
  border: 2px solid;
}

.c-divider__blue {
  @extend .c-divider;
  border-color: #2281c0;
}

.c-divider__orange {
  @extend .c-divider;
  border-color: #ffa100;
}

.c-divider__purple {
  @extend .c-divider;
  border-color: #c44d9b;
}

.c-divider__green {
  @extend .c-divider;
  border-color: #60c80d;
}

//=========================