/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-arrow-more-blue-name: 'icon-arrow-more_blue';
$icon-arrow-more-blue-x: 128px;
$icon-arrow-more-blue-y: 142px;
$icon-arrow-more-blue-offset-x: -128px;
$icon-arrow-more-blue-offset-y: -142px;
$icon-arrow-more-blue-width: 16px;
$icon-arrow-more-blue-height: 16px;
$icon-arrow-more-blue-total-width: 281px;
$icon-arrow-more-blue-total-height: 195px;
$icon-arrow-more-blue-image: '../i/sprite.png';
$icon-arrow-more-blue: (128px, 142px, -128px, -142px, 16px, 16px, 281px, 195px, '../i/sprite.png', 'icon-arrow-more_blue', );
$icon-arrow-l-name: 'icon-arrow_l';
$icon-arrow-l-x: 30px;
$icon-arrow-l-y: 174px;
$icon-arrow-l-offset-x: -30px;
$icon-arrow-l-offset-y: -174px;
$icon-arrow-l-width: 11px;
$icon-arrow-l-height: 17px;
$icon-arrow-l-total-width: 281px;
$icon-arrow-l-total-height: 195px;
$icon-arrow-l-image: '../i/sprite.png';
$icon-arrow-l: (30px, 174px, -30px, -174px, 11px, 17px, 281px, 195px, '../i/sprite.png', 'icon-arrow_l', );
$icon-arrow-r-name: 'icon-arrow_r';
$icon-arrow-r-x: 19px;
$icon-arrow-r-y: 174px;
$icon-arrow-r-offset-x: -19px;
$icon-arrow-r-offset-y: -174px;
$icon-arrow-r-width: 11px;
$icon-arrow-r-height: 17px;
$icon-arrow-r-total-width: 281px;
$icon-arrow-r-total-height: 195px;
$icon-arrow-r-image: '../i/sprite.png';
$icon-arrow-r: (19px, 174px, -19px, -174px, 11px, 17px, 281px, 195px, '../i/sprite.png', 'icon-arrow_r', );
$icon-audio-name: 'icon-audio';
$icon-audio-x: 15px;
$icon-audio-y: 158px;
$icon-audio-offset-x: -15px;
$icon-audio-offset-y: -158px;
$icon-audio-width: 16px;
$icon-audio-height: 14px;
$icon-audio-total-width: 281px;
$icon-audio-total-height: 195px;
$icon-audio-image: '../i/sprite.png';
$icon-audio: (15px, 158px, -15px, -158px, 16px, 14px, 281px, 195px, '../i/sprite.png', 'icon-audio', );
$icon-broadcast-name: 'icon-broadcast';
$icon-broadcast-x: 63px;
$icon-broadcast-y: 158px;
$icon-broadcast-offset-x: -63px;
$icon-broadcast-offset-y: -158px;
$icon-broadcast-width: 14px;
$icon-broadcast-height: 14px;
$icon-broadcast-total-width: 281px;
$icon-broadcast-total-height: 195px;
$icon-broadcast-image: '../i/sprite.png';
$icon-broadcast: (63px, 158px, -63px, -158px, 14px, 14px, 281px, 195px, '../i/sprite.png', 'icon-broadcast', );
$icon-burger-name: 'icon-burger';
$icon-burger-x: 0px;
$icon-burger-y: 142px;
$icon-burger-offset-x: 0px;
$icon-burger-offset-y: -142px;
$icon-burger-width: 16px;
$icon-burger-height: 16px;
$icon-burger-total-width: 281px;
$icon-burger-total-height: 195px;
$icon-burger-image: '../i/sprite.png';
$icon-burger: (0px, 142px, 0px, -142px, 16px, 16px, 281px, 195px, '../i/sprite.png', 'icon-burger', );
$icon-cellphone-name: 'icon-cellphone';
$icon-cellphone-x: 41px;
$icon-cellphone-y: 174px;
$icon-cellphone-offset-x: -41px;
$icon-cellphone-offset-y: -174px;
$icon-cellphone-width: 10px;
$icon-cellphone-height: 16px;
$icon-cellphone-total-width: 281px;
$icon-cellphone-total-height: 195px;
$icon-cellphone-image: '../i/sprite.png';
$icon-cellphone: (41px, 174px, -41px, -174px, 10px, 16px, 281px, 195px, '../i/sprite.png', 'icon-cellphone', );
$icon-clock-name: 'icon-clock';
$icon-clock-x: 16px;
$icon-clock-y: 142px;
$icon-clock-offset-x: -16px;
$icon-clock-offset-y: -142px;
$icon-clock-width: 16px;
$icon-clock-height: 16px;
$icon-clock-total-width: 281px;
$icon-clock-total-height: 195px;
$icon-clock-image: '../i/sprite.png';
$icon-clock: (16px, 142px, -16px, -142px, 16px, 16px, 281px, 195px, '../i/sprite.png', 'icon-clock', );
$icon-compass-name: 'icon-compass';
$icon-compass-x: 32px;
$icon-compass-y: 142px;
$icon-compass-offset-x: -32px;
$icon-compass-offset-y: -142px;
$icon-compass-width: 16px;
$icon-compass-height: 16px;
$icon-compass-total-width: 281px;
$icon-compass-total-height: 195px;
$icon-compass-image: '../i/sprite.png';
$icon-compass: (32px, 142px, -32px, -142px, 16px, 16px, 281px, 195px, '../i/sprite.png', 'icon-compass', );
$icon-email-name: 'icon-email';
$icon-email-x: 48px;
$icon-email-y: 142px;
$icon-email-offset-x: -48px;
$icon-email-offset-y: -142px;
$icon-email-width: 16px;
$icon-email-height: 16px;
$icon-email-total-width: 281px;
$icon-email-total-height: 195px;
$icon-email-image: '../i/sprite.png';
$icon-email: (48px, 142px, -48px, -142px, 16px, 16px, 281px, 195px, '../i/sprite.png', 'icon-email', );
$icon-envelope-name: 'icon-envelope';
$icon-envelope-x: 112px;
$icon-envelope-y: 142px;
$icon-envelope-offset-x: -112px;
$icon-envelope-offset-y: -142px;
$icon-envelope-width: 16px;
$icon-envelope-height: 16px;
$icon-envelope-total-width: 281px;
$icon-envelope-total-height: 195px;
$icon-envelope-image: '../i/sprite.png';
$icon-envelope: (112px, 142px, -112px, -142px, 16px, 16px, 281px, 195px, '../i/sprite.png', 'icon-envelope', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 0px;
$icon-facebook-y: 174px;
$icon-facebook-offset-x: 0px;
$icon-facebook-offset-y: -174px;
$icon-facebook-width: 10px;
$icon-facebook-height: 21px;
$icon-facebook-total-width: 281px;
$icon-facebook-total-height: 195px;
$icon-facebook-image: '../i/sprite.png';
$icon-facebook: (0px, 174px, 0px, -174px, 10px, 21px, 281px, 195px, '../i/sprite.png', 'icon-facebook', );
$icon-facebook-blue-name: 'icon-facebook_blue';
$icon-facebook-blue-x: 70px;
$icon-facebook-blue-y: 174px;
$icon-facebook-blue-offset-x: -70px;
$icon-facebook-blue-offset-y: -174px;
$icon-facebook-blue-width: 9px;
$icon-facebook-blue-height: 16px;
$icon-facebook-blue-total-width: 281px;
$icon-facebook-blue-total-height: 195px;
$icon-facebook-blue-image: '../i/sprite.png';
$icon-facebook-blue: (70px, 174px, -70px, -174px, 9px, 16px, 281px, 195px, '../i/sprite.png', 'icon-facebook_blue', );
$icon-facebook-white-name: 'icon-facebook_white';
$icon-facebook-white-x: 61px;
$icon-facebook-white-y: 174px;
$icon-facebook-white-offset-x: -61px;
$icon-facebook-white-offset-y: -174px;
$icon-facebook-white-width: 9px;
$icon-facebook-white-height: 16px;
$icon-facebook-white-total-width: 281px;
$icon-facebook-white-total-height: 195px;
$icon-facebook-white-image: '../i/sprite.png';
$icon-facebook-white: (61px, 174px, -61px, -174px, 9px, 16px, 281px, 195px, '../i/sprite.png', 'icon-facebook_white', );
$icon-google-play-name: 'icon-google-play';
$icon-google-play-x: 0px;
$icon-google-play-y: 104px;
$icon-google-play-offset-x: 0px;
$icon-google-play-offset-y: -104px;
$icon-google-play-width: 142px;
$icon-google-play-height: 38px;
$icon-google-play-total-width: 281px;
$icon-google-play-total-height: 195px;
$icon-google-play-image: '../i/sprite.png';
$icon-google-play: (0px, 104px, 0px, -104px, 142px, 38px, 281px, 195px, '../i/sprite.png', 'icon-google-play', );
$icon-google-play-onhover-name: 'icon-google_play_onhover';
$icon-google-play-onhover-x: 143px;
$icon-google-play-onhover-y: 0px;
$icon-google-play-onhover-offset-x: -143px;
$icon-google-play-onhover-offset-y: 0px;
$icon-google-play-onhover-width: 138px;
$icon-google-play-onhover-height: 34px;
$icon-google-play-onhover-total-width: 281px;
$icon-google-play-onhover-total-height: 195px;
$icon-google-play-onhover-image: '../i/sprite.png';
$icon-google-play-onhover: (143px, 0px, -143px, 0px, 138px, 34px, 281px, 195px, '../i/sprite.png', 'icon-google_play_onhover', );
$icon-help-name: 'icon-help';
$icon-help-x: 64px;
$icon-help-y: 142px;
$icon-help-offset-x: -64px;
$icon-help-offset-y: -142px;
$icon-help-width: 16px;
$icon-help-height: 16px;
$icon-help-total-width: 281px;
$icon-help-total-height: 195px;
$icon-help-image: '../i/sprite.png';
$icon-help: (64px, 142px, -64px, -142px, 16px, 16px, 281px, 195px, '../i/sprite.png', 'icon-help', );
$icon-info-name: 'icon-info';
$icon-info-x: 237px;
$icon-info-y: 108px;
$icon-info-offset-x: -237px;
$icon-info-offset-y: -108px;
$icon-info-width: 18px;
$icon-info-height: 18px;
$icon-info-total-width: 281px;
$icon-info-total-height: 195px;
$icon-info-image: '../i/sprite.png';
$icon-info: (237px, 108px, -237px, -108px, 18px, 18px, 281px, 195px, '../i/sprite.png', 'icon-info', );
$icon-info-black-name: 'icon-info_black';
$icon-info-black-x: 144px;
$icon-info-black-y: 142px;
$icon-info-black-offset-x: -144px;
$icon-info-black-offset-y: -142px;
$icon-info-black-width: 16px;
$icon-info-black-height: 16px;
$icon-info-black-total-width: 281px;
$icon-info-black-total-height: 195px;
$icon-info-black-image: '../i/sprite.png';
$icon-info-black: (144px, 142px, -144px, -142px, 16px, 16px, 281px, 195px, '../i/sprite.png', 'icon-info_black', );
$icon-instagram-white-name: 'icon-instagram_white';
$icon-instagram-white-x: 126px;
$icon-instagram-white-y: 76px;
$icon-instagram-white-offset-x: -126px;
$icon-instagram-white-offset-y: -76px;
$icon-instagram-white-width: 16px;
$icon-instagram-white-height: 16px;
$icon-instagram-white-total-width: 281px;
$icon-instagram-white-total-height: 195px;
$icon-instagram-white-image: '../i/sprite.png';
$icon-instagram-white: (126px, 76px, -126px, -76px, 16px, 16px, 281px, 195px, '../i/sprite.png', 'icon-instagram_white', );
$icon-itunes-name: 'icon-itunes';
$icon-itunes-x: 143px;
$icon-itunes-y: 34px;
$icon-itunes-offset-x: -143px;
$icon-itunes-offset-y: -34px;
$icon-itunes-width: 105px;
$icon-itunes-height: 37px;
$icon-itunes-total-width: 281px;
$icon-itunes-total-height: 195px;
$icon-itunes-image: '../i/sprite.png';
$icon-itunes: (143px, 34px, -143px, -34px, 105px, 37px, 281px, 195px, '../i/sprite.png', 'icon-itunes', );
$icon-itunes-onhover-name: 'icon-itunes_onhover';
$icon-itunes-onhover-x: 143px;
$icon-itunes-onhover-y: 71px;
$icon-itunes-onhover-offset-x: -143px;
$icon-itunes-onhover-offset-y: -71px;
$icon-itunes-onhover-width: 105px;
$icon-itunes-onhover-height: 37px;
$icon-itunes-onhover-total-width: 281px;
$icon-itunes-onhover-total-height: 195px;
$icon-itunes-onhover-image: '../i/sprite.png';
$icon-itunes-onhover: (143px, 71px, -143px, -71px, 105px, 37px, 281px, 195px, '../i/sprite.png', 'icon-itunes_onhover', );
$icon-linkedin-white-name: 'icon-linkedin_white';
$icon-linkedin-white-x: 77px;
$icon-linkedin-white-y: 158px;
$icon-linkedin-white-offset-x: -77px;
$icon-linkedin-white-offset-y: -158px;
$icon-linkedin-white-width: 13px;
$icon-linkedin-white-height: 13px;
$icon-linkedin-white-total-width: 281px;
$icon-linkedin-white-total-height: 195px;
$icon-linkedin-white-image: '../i/sprite.png';
$icon-linkedin-white: (77px, 158px, -77px, -158px, 13px, 13px, 281px, 195px, '../i/sprite.png', 'icon-linkedin_white', );
$icon-logo-name: 'icon-logo';
$icon-logo-x: 0px;
$icon-logo-y: 0px;
$icon-logo-offset-x: 0px;
$icon-logo-offset-y: 0px;
$icon-logo-width: 143px;
$icon-logo-height: 55px;
$icon-logo-total-width: 281px;
$icon-logo-total-height: 195px;
$icon-logo-image: '../i/sprite.png';
$icon-logo: (0px, 0px, 0px, 0px, 143px, 55px, 281px, 195px, '../i/sprite.png', 'icon-logo', );
$icon-logo-sm-name: 'icon-logo_sm';
$icon-logo-sm-x: 0px;
$icon-logo-sm-y: 55px;
$icon-logo-sm-offset-x: 0px;
$icon-logo-sm-offset-y: -55px;
$icon-logo-sm-width: 126px;
$icon-logo-sm-height: 49px;
$icon-logo-sm-total-width: 281px;
$icon-logo-sm-total-height: 195px;
$icon-logo-sm-image: '../i/sprite.png';
$icon-logo-sm: (0px, 55px, 0px, -55px, 126px, 49px, 281px, 195px, '../i/sprite.png', 'icon-logo_sm', );
$icon-mic-name: 'icon-mic';
$icon-mic-x: 51px;
$icon-mic-y: 174px;
$icon-mic-offset-x: -51px;
$icon-mic-offset-y: -174px;
$icon-mic-width: 10px;
$icon-mic-height: 16px;
$icon-mic-total-width: 281px;
$icon-mic-total-height: 195px;
$icon-mic-image: '../i/sprite.png';
$icon-mic: (51px, 174px, -51px, -174px, 10px, 16px, 281px, 195px, '../i/sprite.png', 'icon-mic', );
$icon-more-vertical-name: 'icon-more_vertical';
$icon-more-vertical-x: 277px;
$icon-more-vertical-y: 108px;
$icon-more-vertical-offset-x: -277px;
$icon-more-vertical-offset-y: -108px;
$icon-more-vertical-width: 4px;
$icon-more-vertical-height: 16px;
$icon-more-vertical-total-width: 281px;
$icon-more-vertical-total-height: 195px;
$icon-more-vertical-image: '../i/sprite.png';
$icon-more-vertical: (277px, 108px, -277px, -108px, 4px, 16px, 281px, 195px, '../i/sprite.png', 'icon-more_vertical', );
$icon-more-vertical-blue-name: 'icon-more_vertical_blue';
$icon-more-vertical-blue-x: 273px;
$icon-more-vertical-blue-y: 108px;
$icon-more-vertical-blue-offset-x: -273px;
$icon-more-vertical-blue-offset-y: -108px;
$icon-more-vertical-blue-width: 4px;
$icon-more-vertical-blue-height: 16px;
$icon-more-vertical-blue-total-width: 281px;
$icon-more-vertical-blue-total-height: 195px;
$icon-more-vertical-blue-image: '../i/sprite.png';
$icon-more-vertical-blue: (273px, 108px, -273px, -108px, 4px, 16px, 281px, 195px, '../i/sprite.png', 'icon-more_vertical_blue', );
$icon-new-name: 'icon-new';
$icon-new-x: 160px;
$icon-new-y: 142px;
$icon-new-offset-x: -160px;
$icon-new-offset-y: -142px;
$icon-new-width: 23px;
$icon-new-height: 11px;
$icon-new-total-width: 281px;
$icon-new-total-height: 195px;
$icon-new-image: '../i/sprite.png';
$icon-new: (160px, 142px, -160px, -142px, 23px, 11px, 281px, 195px, '../i/sprite.png', 'icon-new', );
$icon-pause-name: 'icon-pause';
$icon-pause-x: 143px;
$icon-pause-y: 108px;
$icon-pause-offset-x: -143px;
$icon-pause-offset-y: -108px;
$icon-pause-width: 30px;
$icon-pause-height: 30px;
$icon-pause-total-width: 281px;
$icon-pause-total-height: 195px;
$icon-pause-image: '../i/sprite.png';
$icon-pause: (143px, 108px, -143px, -108px, 30px, 30px, 281px, 195px, '../i/sprite.png', 'icon-pause', );
$icon-pause-blue-name: 'icon-pause_blue';
$icon-pause-blue-x: 248px;
$icon-pause-blue-y: 71px;
$icon-pause-blue-offset-x: -248px;
$icon-pause-blue-offset-y: -71px;
$icon-pause-blue-width: 30px;
$icon-pause-blue-height: 30px;
$icon-pause-blue-total-width: 281px;
$icon-pause-blue-total-height: 195px;
$icon-pause-blue-image: '../i/sprite.png';
$icon-pause-blue: (248px, 71px, -248px, -71px, 30px, 30px, 281px, 195px, '../i/sprite.png', 'icon-pause_blue', );
$icon-play-name: 'icon-play';
$icon-play-x: 248px;
$icon-play-y: 34px;
$icon-play-offset-x: -248px;
$icon-play-offset-y: -34px;
$icon-play-width: 30px;
$icon-play-height: 30px;
$icon-play-total-width: 281px;
$icon-play-total-height: 195px;
$icon-play-image: '../i/sprite.png';
$icon-play: (248px, 34px, -248px, -34px, 30px, 30px, 281px, 195px, '../i/sprite.png', 'icon-play', );
$icon-play-blue-name: 'icon-play_blue';
$icon-play-blue-x: 173px;
$icon-play-blue-y: 108px;
$icon-play-blue-offset-x: -173px;
$icon-play-blue-offset-y: -108px;
$icon-play-blue-width: 30px;
$icon-play-blue-height: 30px;
$icon-play-blue-total-width: 281px;
$icon-play-blue-total-height: 195px;
$icon-play-blue-image: '../i/sprite.png';
$icon-play-blue: (173px, 108px, -173px, -108px, 30px, 30px, 281px, 195px, '../i/sprite.png', 'icon-play_blue', );
$icon-rating-down-name: 'icon-rating-down';
$icon-rating-down-x: 248px;
$icon-rating-down-y: 64px;
$icon-rating-down-offset-x: -248px;
$icon-rating-down-offset-y: -64px;
$icon-rating-down-width: 16px;
$icon-rating-down-height: 7px;
$icon-rating-down-total-width: 281px;
$icon-rating-down-total-height: 195px;
$icon-rating-down-image: '../i/sprite.png';
$icon-rating-down: (248px, 64px, -248px, -64px, 16px, 7px, 281px, 195px, '../i/sprite.png', 'icon-rating-down', );
$icon-rating-down-double-name: 'icon-rating-down_double';
$icon-rating-down-double-x: 219px;
$icon-rating-down-double-y: 129px;
$icon-rating-down-double-offset-x: -219px;
$icon-rating-down-double-offset-y: -129px;
$icon-rating-down-double-width: 16px;
$icon-rating-down-double-height: 9px;
$icon-rating-down-double-total-width: 281px;
$icon-rating-down-double-total-height: 195px;
$icon-rating-down-double-image: '../i/sprite.png';
$icon-rating-down-double: (219px, 129px, -219px, -129px, 16px, 9px, 281px, 195px, '../i/sprite.png', 'icon-rating-down_double', );
$icon-rating-equal-name: 'icon-rating-equal';
$icon-rating-equal-x: 248px;
$icon-rating-equal-y: 101px;
$icon-rating-equal-offset-x: -248px;
$icon-rating-equal-offset-y: -101px;
$icon-rating-equal-width: 9px;
$icon-rating-equal-height: 5px;
$icon-rating-equal-total-width: 281px;
$icon-rating-equal-total-height: 195px;
$icon-rating-equal-image: '../i/sprite.png';
$icon-rating-equal: (248px, 101px, -248px, -101px, 9px, 5px, 281px, 195px, '../i/sprite.png', 'icon-rating-equal', );
$icon-rating-up-name: 'icon-rating-up';
$icon-rating-up-x: 264px;
$icon-rating-up-y: 64px;
$icon-rating-up-offset-x: -264px;
$icon-rating-up-offset-y: -64px;
$icon-rating-up-width: 16px;
$icon-rating-up-height: 7px;
$icon-rating-up-total-width: 281px;
$icon-rating-up-total-height: 195px;
$icon-rating-up-image: '../i/sprite.png';
$icon-rating-up: (264px, 64px, -264px, -64px, 16px, 7px, 281px, 195px, '../i/sprite.png', 'icon-rating-up', );
$icon-rating-up-double-name: 'icon-rating-up_double';
$icon-rating-up-double-x: 203px;
$icon-rating-up-double-y: 129px;
$icon-rating-up-double-offset-x: -203px;
$icon-rating-up-double-offset-y: -129px;
$icon-rating-up-double-width: 16px;
$icon-rating-up-double-height: 9px;
$icon-rating-up-double-total-width: 281px;
$icon-rating-up-double-total-height: 195px;
$icon-rating-up-double-image: '../i/sprite.png';
$icon-rating-up-double: (203px, 129px, -203px, -129px, 16px, 9px, 281px, 195px, '../i/sprite.png', 'icon-rating-up_double', );
$icon-re-name: 'icon-re';
$icon-re-x: 183px;
$icon-re-y: 142px;
$icon-re-offset-x: -183px;
$icon-re-offset-y: -142px;
$icon-re-width: 11px;
$icon-re-height: 11px;
$icon-re-total-width: 281px;
$icon-re-total-height: 195px;
$icon-re-image: '../i/sprite.png';
$icon-re: (183px, 142px, -183px, -142px, 11px, 11px, 281px, 195px, '../i/sprite.png', 'icon-re', );
$icon-search-name: 'icon-search';
$icon-search-x: 96px;
$icon-search-y: 142px;
$icon-search-offset-x: -96px;
$icon-search-offset-y: -142px;
$icon-search-width: 16px;
$icon-search-height: 16px;
$icon-search-total-width: 281px;
$icon-search-total-height: 195px;
$icon-search-image: '../i/sprite.png';
$icon-search: (96px, 142px, -96px, -142px, 16px, 16px, 281px, 195px, '../i/sprite.png', 'icon-search', );
$icon-search-blue-name: 'icon-search_blue';
$icon-search-blue-x: 80px;
$icon-search-blue-y: 142px;
$icon-search-blue-offset-x: -80px;
$icon-search-blue-offset-y: -142px;
$icon-search-blue-width: 16px;
$icon-search-blue-height: 16px;
$icon-search-blue-total-width: 281px;
$icon-search-blue-total-height: 195px;
$icon-search-blue-image: '../i/sprite.png';
$icon-search-blue: (80px, 142px, -80px, -142px, 16px, 16px, 281px, 195px, '../i/sprite.png', 'icon-search_blue', );
$icon-share-name: 'icon-share';
$icon-share-x: 219px;
$icon-share-y: 108px;
$icon-share-offset-x: -219px;
$icon-share-offset-y: -108px;
$icon-share-width: 18px;
$icon-share-height: 18px;
$icon-share-total-width: 281px;
$icon-share-total-height: 195px;
$icon-share-image: '../i/sprite.png';
$icon-share: (219px, 108px, -219px, -108px, 18px, 18px, 281px, 195px, '../i/sprite.png', 'icon-share', );
$icon-share-blue-name: 'icon-share_blue';
$icon-share-blue-x: 255px;
$icon-share-blue-y: 108px;
$icon-share-blue-offset-x: -255px;
$icon-share-blue-offset-y: -108px;
$icon-share-blue-width: 18px;
$icon-share-blue-height: 18px;
$icon-share-blue-total-width: 281px;
$icon-share-blue-total-height: 195px;
$icon-share-blue-image: '../i/sprite.png';
$icon-share-blue: (255px, 108px, -255px, -108px, 18px, 18px, 281px, 195px, '../i/sprite.png', 'icon-share_blue', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 126px;
$icon-twitter-y: 55px;
$icon-twitter-offset-x: -126px;
$icon-twitter-offset-y: -55px;
$icon-twitter-width: 15px;
$icon-twitter-height: 21px;
$icon-twitter-total-width: 281px;
$icon-twitter-total-height: 195px;
$icon-twitter-image: '../i/sprite.png';
$icon-twitter: (126px, 55px, -126px, -55px, 15px, 21px, 281px, 195px, '../i/sprite.png', 'icon-twitter', );
$icon-twitter-blue-name: 'icon-twitter_blue';
$icon-twitter-blue-x: 0px;
$icon-twitter-blue-y: 158px;
$icon-twitter-blue-offset-x: 0px;
$icon-twitter-blue-offset-y: -158px;
$icon-twitter-blue-width: 15px;
$icon-twitter-blue-height: 16px;
$icon-twitter-blue-total-width: 281px;
$icon-twitter-blue-total-height: 195px;
$icon-twitter-blue-image: '../i/sprite.png';
$icon-twitter-blue: (0px, 158px, 0px, -158px, 15px, 16px, 281px, 195px, '../i/sprite.png', 'icon-twitter_blue', );
$icon-twitter-white-name: 'icon-twitter_white';
$icon-twitter-white-x: 31px;
$icon-twitter-white-y: 158px;
$icon-twitter-white-offset-x: -31px;
$icon-twitter-white-offset-y: -158px;
$icon-twitter-white-width: 16px;
$icon-twitter-white-height: 14px;
$icon-twitter-white-total-width: 281px;
$icon-twitter-white-total-height: 195px;
$icon-twitter-white-image: '../i/sprite.png';
$icon-twitter-white: (31px, 158px, -31px, -158px, 16px, 14px, 281px, 195px, '../i/sprite.png', 'icon-twitter_white', );
$icon-user-name: 'icon-user';
$icon-user-x: 203px;
$icon-user-y: 108px;
$icon-user-offset-x: -203px;
$icon-user-offset-y: -108px;
$icon-user-width: 16px;
$icon-user-height: 21px;
$icon-user-total-width: 281px;
$icon-user-total-height: 195px;
$icon-user-image: '../i/sprite.png';
$icon-user: (203px, 108px, -203px, -108px, 16px, 21px, 281px, 195px, '../i/sprite.png', 'icon-user', );
$icon-video-name: 'icon-video';
$icon-video-x: 126px;
$icon-video-y: 92px;
$icon-video-offset-x: -126px;
$icon-video-offset-y: -92px;
$icon-video-width: 16px;
$icon-video-height: 12px;
$icon-video-total-width: 281px;
$icon-video-total-height: 195px;
$icon-video-image: '../i/sprite.png';
$icon-video: (126px, 92px, -126px, -92px, 16px, 12px, 281px, 195px, '../i/sprite.png', 'icon-video', );
$icon-views-name: 'icon-views';
$icon-views-x: 47px;
$icon-views-y: 158px;
$icon-views-offset-x: -47px;
$icon-views-offset-y: -158px;
$icon-views-width: 16px;
$icon-views-height: 14px;
$icon-views-total-width: 281px;
$icon-views-total-height: 195px;
$icon-views-image: '../i/sprite.png';
$icon-views: (47px, 158px, -47px, -158px, 16px, 14px, 281px, 195px, '../i/sprite.png', 'icon-views', );
$icon-vk-name: 'icon-vk';
$icon-vk-x: 10px;
$icon-vk-y: 174px;
$icon-vk-offset-x: -10px;
$icon-vk-offset-y: -174px;
$icon-vk-width: 9px;
$icon-vk-height: 21px;
$icon-vk-total-width: 281px;
$icon-vk-total-height: 195px;
$icon-vk-image: '../i/sprite.png';
$icon-vk: (10px, 174px, -10px, -174px, 9px, 21px, 281px, 195px, '../i/sprite.png', 'icon-vk', );
$icon-vk-blue-name: 'icon-vk_blue';
$icon-vk-blue-x: 79px;
$icon-vk-blue-y: 174px;
$icon-vk-blue-offset-x: -79px;
$icon-vk-blue-offset-y: -174px;
$icon-vk-blue-width: 9px;
$icon-vk-blue-height: 16px;
$icon-vk-blue-total-width: 281px;
$icon-vk-blue-total-height: 195px;
$icon-vk-blue-image: '../i/sprite.png';
$icon-vk-blue: (79px, 174px, -79px, -174px, 9px, 16px, 281px, 195px, '../i/sprite.png', 'icon-vk_blue', );
$icon-vk-white-name: 'icon-vk_white';
$icon-vk-white-x: 90px;
$icon-vk-white-y: 158px;
$icon-vk-white-offset-x: -90px;
$icon-vk-white-offset-y: -158px;
$icon-vk-white-width: 9px;
$icon-vk-white-height: 12px;
$icon-vk-white-total-width: 281px;
$icon-vk-white-total-height: 195px;
$icon-vk-white-image: '../i/sprite.png';
$icon-vk-white: (90px, 158px, -90px, -158px, 9px, 12px, 281px, 195px, '../i/sprite.png', 'icon-vk_white', );
$spritesheet-width: 281px;
$spritesheet-height: 195px;
$spritesheet-image: '../i/sprite.png';
$spritesheet-sprites: ($icon-arrow-more-blue, $icon-arrow-l, $icon-arrow-r, $icon-audio, $icon-broadcast, $icon-burger, $icon-cellphone, $icon-clock, $icon-compass, $icon-email, $icon-envelope, $icon-facebook, $icon-facebook-blue, $icon-facebook-white, $icon-google-play, $icon-google-play-onhover, $icon-help, $icon-info, $icon-info-black, $icon-instagram-white, $icon-itunes, $icon-itunes-onhover, $icon-linkedin-white, $icon-logo, $icon-logo-sm, $icon-mic, $icon-more-vertical, $icon-more-vertical-blue, $icon-new, $icon-pause, $icon-pause-blue, $icon-play, $icon-play-blue, $icon-rating-down, $icon-rating-down-double, $icon-rating-equal, $icon-rating-up, $icon-rating-up-double, $icon-re, $icon-search, $icon-search-blue, $icon-share, $icon-share-blue, $icon-twitter, $icon-twitter-blue, $icon-twitter-white, $icon-user, $icon-video, $icon-views, $icon-vk, $icon-vk-blue, $icon-vk-white, );
$spritesheet: (281px, 195px, '../i/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
