@charset "UTF-8";
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300&subset=latin,cyrillic);
.icon-arrow-more_blue {
  background-image: url(../i/sprite.png);
  background-position: -128px -142px;
  width: 16px;
  height: 16px; }

.icon-arrow_l {
  background-image: url(../i/sprite.png);
  background-position: -30px -174px;
  width: 11px;
  height: 17px; }

.icon-arrow_r {
  background-image: url(../i/sprite.png);
  background-position: -19px -174px;
  width: 11px;
  height: 17px; }

.icon-audio {
  background-image: url(../i/sprite.png);
  background-position: -15px -158px;
  width: 16px;
  height: 14px; }

.icon-broadcast {
  background-image: url(../i/sprite.png);
  background-position: -63px -158px;
  width: 14px;
  height: 14px; }

.icon-burger {
  background-image: url(../i/sprite.png);
  background-position: 0px -142px;
  width: 16px;
  height: 16px; }

.icon-cellphone {
  background-image: url(../i/sprite.png);
  background-position: -41px -174px;
  width: 10px;
  height: 16px; }

.icon-clock {
  background-image: url(../i/sprite.png);
  background-position: -16px -142px;
  width: 16px;
  height: 16px; }

.icon-compass {
  background-image: url(../i/sprite.png);
  background-position: -32px -142px;
  width: 16px;
  height: 16px; }

.icon-email {
  background-image: url(../i/sprite.png);
  background-position: -48px -142px;
  width: 16px;
  height: 16px; }

.icon-envelope {
  background-image: url(../i/sprite.png);
  background-position: -112px -142px;
  width: 16px;
  height: 16px; }

.icon-facebook {
  background-image: url(../i/sprite.png);
  background-position: 0px -174px;
  width: 10px;
  height: 21px; }

.icon-facebook_blue {
  background-image: url(../i/sprite.png);
  background-position: -70px -174px;
  width: 9px;
  height: 16px; }

.icon-facebook_white {
  background-image: url(../i/sprite.png);
  background-position: -61px -174px;
  width: 9px;
  height: 16px; }

.icon-google-play {
  background-image: url(../i/sprite.png);
  background-position: 0px -104px;
  width: 142px;
  height: 38px; }

.icon-google_play_onhover, #store-gplay:hover {
  background-image: url(../i/sprite.png);
  background-position: -143px 0px;
  width: 138px;
  height: 34px; }

.icon-help {
  background-image: url(../i/sprite.png);
  background-position: -64px -142px;
  width: 16px;
  height: 16px; }

.icon-info {
  background-image: url(../i/sprite.png);
  background-position: -237px -108px;
  width: 18px;
  height: 18px; }

.icon-info_black {
  background-image: url(../i/sprite.png);
  background-position: -144px -142px;
  width: 16px;
  height: 16px; }

.icon-instagram_white {
  background-image: url(../i/sprite.png);
  background-position: -126px -76px;
  width: 16px;
  height: 16px; }

.icon-itunes {
  background-image: url(../i/sprite.png);
  background-position: -143px -34px;
  width: 105px;
  height: 37px; }

.icon-itunes_onhover, #store-itunes:hover {
  background-image: url(../i/sprite.png);
  background-position: -143px -71px;
  width: 105px;
  height: 37px; }

.icon-linkedin_white {
  background-image: url(../i/sprite.png);
  background-position: -77px -158px;
  width: 13px;
  height: 13px; }

.icon-logo {
  background-image: url(../i/sprite.png);
  background-position: 0px 0px;
  width: 143px;
  height: 55px; }

.icon-logo_sm {
  background-image: url(../i/sprite.png);
  background-position: 0px -55px;
  width: 126px;
  height: 49px; }

.icon-mic {
  background-image: url(../i/sprite.png);
  background-position: -51px -174px;
  width: 10px;
  height: 16px; }

.icon-more_vertical {
  background-image: url(../i/sprite.png);
  background-position: -277px -108px;
  width: 4px;
  height: 16px; }

.icon-more_vertical_blue, .c-set-item--more:hover span {
  background-image: url(../i/sprite.png);
  background-position: -273px -108px;
  width: 4px;
  height: 16px; }

.icon-new, .c-set-item--rating__new:before {
  background-image: url(../i/sprite.png);
  background-position: -160px -142px;
  width: 23px;
  height: 11px; }

.icon-pause {
  background-image: url(../i/sprite.png);
  background-position: -143px -108px;
  width: 30px;
  height: 30px; }

.icon-pause_blue {
  background-image: url(../i/sprite.png);
  background-position: -248px -71px;
  width: 30px;
  height: 30px; }

.icon-play {
  background-image: url(../i/sprite.png);
  background-position: -248px -34px;
  width: 30px;
  height: 30px; }

.icon-play_blue {
  background-image: url(../i/sprite.png);
  background-position: -173px -108px;
  width: 30px;
  height: 30px; }

.icon-rating-down, .c-set-item--rating__negative:after {
  background-image: url(../i/sprite.png);
  background-position: -248px -64px;
  width: 16px;
  height: 7px; }

.icon-rating-down_double, .c-set-item--rating__supernegative:after {
  background-image: url(../i/sprite.png);
  background-position: -219px -129px;
  width: 16px;
  height: 9px; }

.icon-rating-equal, .c-set-item--rating__neutral:before {
  background-image: url(../i/sprite.png);
  background-position: -248px -101px;
  width: 9px;
  height: 5px; }

.icon-rating-up, .c-set-item--rating__positive:before {
  background-image: url(../i/sprite.png);
  background-position: -264px -64px;
  width: 16px;
  height: 7px; }

.icon-rating-up_double, .c-set-item--rating__superpositive:before {
  background-image: url(../i/sprite.png);
  background-position: -203px -129px;
  width: 16px;
  height: 9px; }

.icon-re, .c-set-item--rating__re:before {
  background-image: url(../i/sprite.png);
  background-position: -183px -142px;
  width: 11px;
  height: 11px; }

.icon-search {
  background-image: url(../i/sprite.png);
  background-position: -96px -142px;
  width: 16px;
  height: 16px; }

.icon-search_blue {
  background-image: url(../i/sprite.png);
  background-position: -80px -142px;
  width: 16px;
  height: 16px; }

.icon-share {
  background-image: url(../i/sprite.png);
  background-position: -219px -108px;
  width: 18px;
  height: 18px; }

.icon-share_blue, .c-article-info-share:hover span {
  background-image: url(../i/sprite.png);
  background-position: -255px -108px;
  width: 18px;
  height: 18px; }

.icon-twitter {
  background-image: url(../i/sprite.png);
  background-position: -126px -55px;
  width: 15px;
  height: 21px; }

.icon-twitter_blue {
  background-image: url(../i/sprite.png);
  background-position: 0px -158px;
  width: 15px;
  height: 16px; }

.icon-twitter_white {
  background-image: url(../i/sprite.png);
  background-position: -31px -158px;
  width: 16px;
  height: 14px; }

.icon-user {
  background-image: url(../i/sprite.png);
  background-position: -203px -108px;
  width: 16px;
  height: 21px; }

.icon-video {
  background-image: url(../i/sprite.png);
  background-position: -126px -92px;
  width: 16px;
  height: 12px; }

.icon-views {
  background-image: url(../i/sprite.png);
  background-position: -47px -158px;
  width: 16px;
  height: 14px; }

.icon-vk {
  background-image: url(../i/sprite.png);
  background-position: -10px -174px;
  width: 9px;
  height: 21px; }

.icon-vk_blue {
  background-image: url(../i/sprite.png);
  background-position: -79px -174px;
  width: 9px;
  height: 16px; }

.icon-vk_white {
  background-image: url(../i/sprite.png);
  background-position: -90px -158px;
  width: 9px;
  height: 12px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  outline: none; }

body, html {
  height: 100%; }

body {
  font: normal 16px/1.4 Open Sans, Arial, sans-serif; }

.wrapper {
  max-width: 980px;
  margin: auto; }

.article-wrapper__big {
  padding: 0 30px 30px 30px; }

.article-wrapper__small {
  padding: 0 20px 20px 20px; }

.l-articles-container__main {
  float: left;
  width: 64%; }

.l-articles-aside-container {
  float: right;
  width: 32%; }

.icon, .c-set-item--rating__negative:after, .c-set-item--rating__supernegative:after, .c-set-item--rating__positive:before, .c-set-item--rating__superpositive:before, .c-set-item--rating__neutral:before, .c-set-item--rating__new:before, .c-set-item--rating__re:before {
  display: inline-block; }

a {
  text-decoration: none; }

.clearfix:before, .c-slide__team:before, .c-slide__parnters:before, .c-slider-controls:before, .c-slider-controls-indicator:before,
.clearfix:after,
.c-slide__team:after,
.c-slide__parnters:after,
.c-slider-controls:after,
.c-slider-controls-indicator:after {
  content: "";
  display: table; }

.clearfix:after, .c-slide__team:after, .c-slide__parnters:after, .c-slider-controls:after, .c-slider-controls-indicator:after {
  clear: both; }

.truncate, .c-set-item--text__primary, .c-set-item--text__secondary, .c-section-header--text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.hidden {
  display: none !important; }

.soft-hidden {
  display: none; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.c-btn, .c-btn__yellow, .c-article-image-button:hover, .c-btn__blue {
  line-height: 1.333;
  padding: 10px 20px;
  font-size: 9px;
  letter-spacing: 1px;
  font-weight: 700;
  display: inline-block;
  text-align: center; }

.c-btn__yellow, .c-article-image-button:hover {
  color: #fff;
  background-color: #ffa800; }

.c-btn__blue {
  color: #fff;
  background-color: #3498db; }

.c-btn-rounded, .c-btn-rounded__orange, .c-btn-rounded__blue, .c-btn-rounded__set:hover, .c-btn-rounded__chart:hover, .c-btn-rounded__article:hover, .c-btn-rounded__set, .c-btn-rounded__chart, .c-btn-rounded__article, .c-btn-rounded__article__padded {
  color: #777;
  line-height: 1.333;
  padding: 10px 20px;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  background-color: #fff;
  border: 1px solid  #c8c8c8;
  border-radius: 20px;
  display: inline-block;
  text-align: center; }

.c-btn-rounded__orange {
  background-color: #ffa400;
  border: 1px solid  #ffa400;
  color: #fff; }

.c-btn-rounded__blue, .c-btn-rounded__set:hover, .c-btn-rounded__chart:hover, .c-btn-rounded__article:hover {
  background-color: #2281c0;
  border: 1px solid  #2281c0;
  color: #fff; }

.c-icn-btn, .c-icn-btn__yellow, .c-icn-btn__blue {
  display: inline-block;
  padding: 0 5px;
  line-height: 1.5; }

.c-icn-btn__yellow {
  background-color: #ffa100; }

.c-icn-btn__blue {
  background-color: #2b8bcc; }

.c-social-counter, .c-social-counter__article {
  font-size: 10px;
  font-weight: 700;
  color: #000;
  display: inline-block;
  letter-spacing: 1px; }

.c-social-net, .c-social-net__fb, .c-social-net__fb__article, .c-social-net__twitter, .c-social-net__twitter__article, .c-social-net__vk, .c-social-net__vk__article {
  width: 26px;
  height: 26px;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  display: inline-block; }

.c-social-net__fb, .c-social-net__fb__article {
  background-color: #4e6ab1; }

.c-social-net__twitter, .c-social-net__twitter__article {
  background-color: #1aacea; }

.c-social-net__vk, .c-social-net__vk__article {
  background-color: #436c98; }

.c-ingsoc-branch, .c-ingsoc-branch__article {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #eee;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  display: inline-block; }

.c-divider, .c-divider__blue, .c-divider__orange, .c-divider__purple, .c-divider__green {
  width: 100%;
  border: 2px solid; }

.c-divider__blue {
  border-color: #2281c0; }

.c-divider__orange {
  border-color: #ffa100; }

.c-divider__purple {
  border-color: #c44d9b; }

.c-divider__green {
  border-color: #60c80d; }

.c-set-item {
  min-width: 33%;
  max-width: 300px;
  min-height: 70px;
  line-height: 70px;
  vertical-align: middle;
  border-bottom: 0.5px solid #f2f2f2;
  border-left: 0.5px solid #f2f2f2;
  border-right: 0.5px solid #f2f2f2; }
  .c-set-item:hover .c-set-item--text__primary {
    color: #3498db; }

.c-set-item--pic {
  float: left;
  line-height: 0;
  margin-right: 10px; }
  .c-set-item--pic a {
    vertical-align: top; }

.c-set-item--text {
  overflow: hidden;
  padding: 15px 0; }

.c-set-item--text__primary {
  font-size: 14px;
  color: #000;
  line-height: 1.3333; }

.c-set-item--text__secondary {
  font-size: 12px;
  color: #858585;
  line-height: 1.3333; }

.c-set-item--more {
  float: right; }
  .c-set-item--more a {
    display: block;
    padding: 0 12px; }

.c-set-item--menu {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 25px;
  border-right: 1px solid #ededed;
  border-left: 1px solid #ededed;
  z-index: 3;
  background-color: #fff; }

.c-set-item--menu-item {
  display: inline-block; }
  .c-set-item--menu-item a {
    display: block;
    line-height: 70px;
    padding: 0 12px; }

.c-set-item-button {
  width: 100%;
  padding: 10px 0; }
  .c-set-item-button a {
    width: 100%; }

.c-set-video-frame {
  width: 100%;
  height: 213px; }

.c-set-announcement {
  width: 100%; }

.c-set-announcement-number {
  width: 70px;
  height: 70px;
  background-color: #000;
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  line-height: 70px;
  vertical-align: middle;
  float: left; }

.c-set-announcement-day {
  float: left;
  height: 70px;
  padding: 15px; }

.c-set-announcement-day__primary {
  font-size: 16px;
  font-weight: 700;
  color: #000; }

.c-set-announcement-day__secondary {
  font-size: 11px;
  font-weight: 700;
  color: #aeaeae;
  letter-spacing: 1px; }

.c-set-announcement--preview {
  height: 145px;
  position: relative; }

.c-set-announcement-textblock {
  position: absolute;
  bottom: 15px;
  left: 15px; }

.c-set-announcement-text__primary {
  font-size: 15px;
  color: #fff; }

.c-set-announcement-text__secondary {
  font-size: 12px;
  color: #858585; }

.c-set-announcement--preview-button {
  position: absolute;
  bottom: 15px;
  right: 15px; }

.c-set-item__announcement-placeholder {
  height: 50px;
  position: relative; }

.c-set-item__announcement {
  min-width: 33%;
  max-width: 300px;
  border-bottom: 0.5px solid #f2f2f2;
  border-left: 0.5px solid #f2f2f2;
  border-right: 0.5px solid #f2f2f2;
  padding: 10px 10px; }
  .c-set-item__announcement:hover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0px -5px 7px 0px rgba(0, 0, 0, 0.31); }
    .c-set-item__announcement:hover .c-set-item--icons {
      opacity: 1; }
    .c-set-item__announcement:hover .c-set-item--text__secondary,
    .c-set-item__announcement:hover .c-set-item--text__primary {
      white-space: normal; }

.c-set-item--text__announcement {
  overflow: hidden;
  padding-right: 5px; }

.c-set-item--icons {
  float: right;
  line-height: 30px;
  opacity: 0.7; }

.c-set-item--icons-item {
  margin-right: -5px; }
  .c-set-item--icons-item:last-child {
    margin: 0; }

.l-set-title {
  min-width: 33%;
  max-width: 300px;
  font-size: 21px;
  font-weight: 700;
  color: #000; }

.l-set-title--text {
  display: block;
  padding-bottom: 10px; }

.l-set-title--glyph {
  float: right;
  margin-left: 10px; }

.c-set-item__chart {
  min-width: 33%;
  max-width: 300px;
  min-height: 60px;
  line-height: 60px;
  vertical-align: middle;
  border-bottom: 0.5px solid #f2f2f2;
  border-left: 0.5px solid #f2f2f2;
  border-right: 0.5px solid #f2f2f2; }
  .c-set-item__chart:nth-child(2) {
    border-top: 0.4px solid #f2f2f2; }
  .c-set-item__chart:hover .c-set-item--text__primary {
    color: #3498db; }

.c-set-item--text__chart {
  overflow: hidden;
  padding: 12px 0 0 0;
  margin: 0 30px 0 80px;
  max-width: 200px; }

.c-set-item--position {
  float: left;
  width: 30px;
  height: 30px;
  margin: 14px 5px 0 5px;
  line-height: 27px;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  border: 2px solid #000;
  border-radius: 20px; }

.c-set-item--rating {
  position: relative;
  float: left;
  display: block;
  min-width: 30px;
  text-align: center; }

.c-set-item--rating-value {
  font-size: 14px;
  font-weight: 700;
  display: inline;
  line-height: 59px; }

.c-set-item--rating__negative:after {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 7px; }

.c-set-item--rating__negative .c-set-item--rating-value {
  color: #ff441e; }

.c-set-item--rating__supernegative:after {
  content: '';
  position: absolute;
  bottom: 14px;
  left: 7px; }

.c-set-item--rating__supernegative .c-set-item--rating-value {
  color: #ff441e; }

.c-set-item--rating__positive:before {
  content: '';
  position: absolute;
  top: 15px;
  left: 7px; }

.c-set-item--rating__positive .c-set-item--rating-value {
  color: #50bc00; }

.c-set-item--rating__superpositive:before {
  content: '';
  position: absolute;
  top: 15px;
  left: 7px; }

.c-set-item--rating__superpositive .c-set-item--rating-value {
  color: #50bc00; }

.c-set-item--rating__neutral {
  padding: 30px 10px; }
  .c-set-item--rating__neutral:before {
    content: '';
    position: absolute;
    top: 25px;
    left: 11px; }

.c-set-item--rating__new {
  padding: 30px 10px; }
  .c-set-item--rating__new:before {
    content: '';
    position: absolute;
    top: 25px;
    left: 4px; }

.c-set-item--rating__re {
  padding: 30px 10px; }
  .c-set-item--rating__re:before {
    content: '';
    position: absolute;
    top: 25px;
    left: 10px; }

.c-section-header {
  width: 100%;
  min-height: 50px;
  background-color: #f0f0ef;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }

.c-section-header--title {
  overflow: hidden;
  padding: 20px 0; }

.c-section-header--navbar {
  float: right; }

.c-section-header--navbar-item {
  display: inline-block;
  padding: 20px 30px; }
  .c-section-header--navbar-item:hover {
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.15); }

.c-section-header--navbar-item__active {
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.15); }

.c-section-header--text {
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #000;
  line-height: 1.3333; }

.c-article-frame, .c-article-frame__small {
  border: 1px solid #f2f2f2;
  background-color: #fff;
  margin-bottom: 30px; }

.c-article-frame-placeholder {
  position: relative;
  height: 360px;
  width: 305px;
  margin-bottom: 30px; }

.c-article-frame__small {
  width: 305px;
  margin-bottom: 10px; }
  .c-article-frame__small:hover {
    position: absolute;
    top: 0;
    z-index: 5; }
    .c-article-frame__small:hover .c-article-summary__small {
      display: block; }

.c-article-info-box {
  width: 100%;
  box-shadow: inset 0px 9px 8px -2px rgba(241, 241, 241, 0.6); }

.c-article-info-time,
.c-article-info-views {
  line-height: 40px;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #aeaeae;
  vertical-align: middle;
  float: left;
  margin-right: 15px; }
  .c-article-info-time span:first-child,
  .c-article-info-views span:first-child {
    vertical-align: middle;
    opacity: 0.3;
    margin-right: 5px; }

.c-article-info-share {
  float: right;
  padding-top: 11px; }

.c-article-category, .c-article-category__purple, .c-article-category__orange, .c-article-category__green, .c-article-category__blue {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px; }

.c-article-category-container {
  line-height: 30px;
  vertical-align: middle; }

.c-article-category__purple {
  color: #c44d9b; }

.c-article-category__orange {
  color: #ffa100; }

.c-article-category__green {
  color: #60c80d; }

.c-article-category__blue {
  color: #3498db; }

.c-article-image {
  width: 100%;
  position: relative; }
  .c-article-image img {
    width: 100%; }

.c-article-image-button {
  position: absolute;
  bottom: 30px;
  left: 30px; }

.c-article-header-container__big, .c-article-header-container__big__boredered {
  padding: 25px 0; }

.c-article-header-container__big__boredered {
  border-bottom: 0.5px solid #e6e6e6; }

.c-article-header__big,
.c-article-header__big a {
  font-size: 21px;
  font-weight: 700;
  color: #000; }

.c-article-header__small,
.c-article-header__small a {
  font-size: 16px;
  font-weight: 700;
  color: #000; }

.c-article-author {
  width: 100%;
  padding: 10px 0; }

.c-article-author-userpic {
  width: 55px;
  height: 55px;
  float: left;
  margin-right: 10px; }

.c-article-author-name {
  float: left;
  max-width: 50%;
  padding-top: 10px; }

.c-article-author-text__primary a {
  font-size: 14px;
  font-weight: 700;
  color: #101010; }

.c-article-author-text__primary a:hover {
  text-decoration: underline; }

.c-article-author-text__secondary {
  font-size: 8px;
  letter-spacing: 0.5px;
  font-weight: 700;
  color: #a9a8a8; }

.c-article-ingsoc {
  float: right;
  position: relative;
  padding-top: 15px; }
  .c-article-ingsoc:hover:before {
    content: 'НАЙТИ МЕНЯ';
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #a9a8a8;
    position: absolute;
    top: 50%;
    left: -100px; }

.c-ingsoc-branch__article {
  margin-right: 10px; }
  .c-ingsoc-branch__article:last-child {
    margin-right: 0; }

.c-article-summary {
  font-size: 15px;
  font-weight: 400;
  color: #aeaeae;
  text-align: justify; }
  .c-article-summary p {
    padding: 10px 0; }

.c-article-summary__small {
  font-size: 13px;
  font-weight: 400;
  color: #aeaeae;
  text-align: justify; }
  .c-article-summary__small p {
    padding: 10px 0; }

.c-article-text {
  font-size: 13px;
  line-height: 1.7;
  font-weight: 400;
  color: #000;
  padding: 10px 0;
  text-align: justify; }
  .c-article-text p {
    padding: 5px 0; }
  .c-article-text p:last-child {
    padding-bottom: 15px; }

.c-btn-rounded__article__padded {
  padding: 10px 60px; }
  .c-btn-rounded__article__padded:hover {
    background-color: #2281c0;
    color: #fff; }

.c-article-actions-social {
  float: right; }
  .c-article-actions-social:hover:before {
    content: 'ПОДЕЛИТЬСЯ';
    font-size: 10px;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: #a9a8a8;
    margin-right: 5px; }

.c-social-net__fb__article {
  margin-left: 5px; }

.c-social-net__twitter__article {
  margin-left: 5px; }

.c-social-net__vk__article {
  margin-left: 5px; }

.c-social-counter__article {
  margin-left: 3px; }

.c-slide {
  text-align: center; }

.c-slider-content__team {
  margin: 0 10px;
  float: left; }

.c-slider-content__partners {
  float: left;
  margin: 0 auto; }

.c-slide-img-container__partners {
  width: 140px;
  height: 100px;
  margin: 0 5px;
  float: left;
  vertical-align: middle;
  text-align: center; }
  .c-slide-img-container__partners img {
    -webkit-filter: grayscale(90%);
    vertical-align: middle; }
  .c-slide-img-container__partners img:hover {
    -webkit-filter: none; }
  .c-slide-img-container__partners a {
    display: block;
    height: 100px;
    line-height: 100px; }

.c-slider-controls-container {
  width: 100%;
  padding: 20px 0; }

.c-slider-controls {
  width: 100%; }

.c-slider-controls__team {
  line-height: 400px;
  vertical-align: middle; }

.c-slider-controls__partners {
  line-height: 100px;
  vertical-align: middle; }

.c-slider-controls-indicator {
  margin: auto;
  text-align: center; }

.c-slider-controls-dot, .c-slider-controls-dot__active {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #888;
  background-color: #888;
  border-radius: 50%;
  margin-right: 5px; }
  .c-slider-controls-dot a:last-child, .c-slider-controls-dot__active a:last-child {
    margin-right: 0; }

.c-slider-controls-dot__active {
  background-color: #fff; }

.c-slider-font__extrabold, .c-slider-font__extrabold__blue {
  font-size: 36px;
  font-weight: 800; }

.c-slider-font__extrabold__blue {
  color: #2e91d3; }

.c-slider-font__primary {
  font-size: 36px;
  font-weight: 300;
  color: #000; }

.c-slider-font__secondary {
  font-size: 21px;
  font-weight: 300;
  color: #a1a1a1; }

.c-slide-card {
  padding: 20px;
  width: 250px;
  margin: 0 25px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3); }

.c-slide-card-userpic {
  display: block; }

.c-slide-card-textblock {
  padding: 15px 0; }

.c-slide-card-text__primary {
  font-size: 16px;
  font-weight: 700;
  color: #101010; }
  .c-slide-card-text__primary:hover {
    text-decoration: underline; }

.c-slide-card-text__secondary {
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #a9a8a8; }

.c-slide-card-related {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 0; }

.c-slide-card-related-icon {
  float: right;
  width: 20px; }

.c-slide-card-related-text {
  vertical-align: middle;
  margin-right: 20px;
  line-height: 16px; }
  .c-slide-card-related-text a {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #3498db; }

.c-slide-card-social {
  padding-top: 20px; }

.p-home {
  position: relative; }

.l-header {
  width: 100%;
  position: relative; }

.l-header-subnav {
  width: 100%;
  background-color: #f1f1f1;
  line-height: 1.3333; }

.l-header-subnav-lang-container {
  float: left; }

.l-header-subnav-lang {
  font-size: 10px;
  font-weight: 700;
  color: #777;
  padding: 12px;
  line-height: 1.333;
  float: left; }
  .l-header-subnav-lang:hover {
    cursor: pointer; }

.l-header-subnav-lang__active {
  color: #000;
  background-color: #fff;
  border-right: 1px solid #ededed;
  border-left: 1px solid #ededed; }

.l-header-subnav-items-container {
  float: right;
  padding: 8px 0; }

.l-header-subnav-item {
  float: left;
  padding: 0 10px;
  line-height: 1.3333; }
  .l-header-subnav-item a {
    font-size: 12px;
    font-weight: 700;
    color: #000;
    opacity: 0.5; }
  .l-header-subnav-item span {
    vertical-align: middle;
    opacity: 0.5;
    margin: 0 5px; }
  .l-header-subnav-item:hover a, .l-header-subnav-item:hover span {
    opacity: 1; }

.l-header-nav {
  width: 100%;
  padding: 15px 0;
  vertical-align: middle;
  line-height: 1.3333;
  position: absolute;
  top: 37px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2; }

.l-header-nav--logo,
.l-header-navbar {
  float: left; }

.l-header-auth-block {
  float: right;
  padding: 10px 0; }

.l-header-navbar {
  width: auto;
  padding: 15px 20px; }

.l-header-navbar-item {
  display: inline-block;
  padding: 0 20px; }
  .l-header-navbar-item a {
    color: #000;
    font-size: 12px;
    font-weight: 700; }
  .l-header-navbar-item span {
    vertical-align: middle; }

.l-header-auth-block--button {
  margin: 0 5px;
  display: inline-block; }

.l-hero {
  padding: 220px 0 100px 0;
  background-image: url("../i/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.l-hero-column {
  width: 50%; }

.l-hero--header {
  font-size: 45px;
  font-weight: 300; }

.l-hero--subheader {
  font-size: 18px;
  font-weight: 700;
  color: #adadad; }

.l-hero--video {
  padding: 25px 0; }

#l-hero--video {
  box-shadow: 5px 4px 30px 0px rgba(50, 50, 50, 0.37); }

.l-hero--store {
  display: inline-block;
  margin-right: 20px; }

.l-hero-slide--button {
  float: right; }

.l-hero-banner {
  display: block;
  position: absolute;
  height: 90px;
  bottom: -50px;
  box-shadow: -8px 8px 30px 0px rgba(50, 50, 50, 0.26); }

.l-hero-banner--item {
  width: 245px;
  height: 90px;
  float: left;
  position: relative; }

.l-hero-banner--item-button-block {
  position: absolute;
  right: 10px;
  bottom: 10px; }

.l-sets {
  width: 100%;
  padding: 70px 0; }

.l-sets-header {
  width: 100%;
  padding: 30px 0;
  box-shadow: 0px 7px 22px -2px rgba(0, 0, 0, 0.55);
  z-index: 10;
  position: relative; }

.l-sets-body {
  width: 100%;
  z-index: 5;
  position: relative; }

.l-sets-header-text-block {
  max-width: 33.333%;
  min-width: 300px;
  float: left;
  margin-right: 40px; }
  .l-sets-header-text-block:last-child {
    margin: 0; }

.l-sets-header-text {
  font-size: 21px;
  font-weight: 700;
  color: #000; }

.l-set {
  max-width: 33.333%;
  min-width: 300px;
  float: left;
  margin-right: 35px; }
  .l-set:first-child {
    padding: 0; }
  .l-set:last-child {
    margin: 0; }

.l-set__chart {
  max-width: 33.333%;
  min-width: 300px;
  float: left;
  margin-right: 27px;
  padding: 10px 5px 0 0; }
  .l-set__chart:last-child {
    margin: 0; }

.l-charts {
  width: 100%;
  background: url(../../../src/static/i/charts_bg.png) center bottom repeat-x; }

.l-charts--body {
  padding: 50px 0; }

.l-charts--slide-controls {
  width: 100%;
  min-height: 30px;
  padding-top: 20px; }

.l-blogs {
  width: 100%;
  background-image: url("../../../src/static/i/blogs-bgnd.png");
  background-size: cover;
  background-repeat: no-repeat; }

.l-blogs--body {
  width: 100%;
  margin: 60px 0; }

.l-news {
  width: 100%;
  box-shadow: 0px 11px 13px 0px rgba(0, 0, 0, 0.55);
  position: relative;
  z-index: 10; }

.l-news--body {
  width: 100%;
  margin: 60px 0; }

.l-news-readmore {
  width: 100%;
  height: 35px;
  text-align: center; }

.l-big-slider {
  width: 100%;
  padding: 100px 0;
  background-image: url("../../../src/static/i/big-slider-chick.png");
  background-size: cover;
  z-index: 9; }

.l-slide-header {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 40px; }

.l-slide-text {
  padding-bottom: 40px; }

.l-team {
  width: 100%; }

.l-team-body {
  padding: 60px 0;
  background-color: #f6f6f6; }

.l-partners {
  width: 100%;
  padding: 50px 0; }

.l-footer {
  width: 100%;
  padding: 30px 0;
  background-color: #f6f6f6; }

.l-footer-info {
  width: 275px;
  padding: 25px;
  background-color: #fff;
  float: right; }

.c-footer-logo {
  display: block; }
  .c-footer-logo img {
    -webkit-filter: grayscale(100%); }
  .c-footer-logo img:hover {
    -webkit-filter: grayscale(0); }

.c-footer-info-social {
  padding: 20px 0; }

.c-footer-info-social-item {
  display: inline-block; }
  .c-footer-info-social-item .c-social-counter, .c-footer-info-social-item .c-social-counter__article {
    display: none; }

.c-footer-info-social-item:hover .c-social-counter, .c-footer-info-social-item:hover .c-social-counter__article {
  display: inline-block; }

.l-footer-columns {
  margin-right: 280px;
  padding: 20px 0;
  columns: 150px 4; }
  .l-footer-columns ul {
    padding: 0px 0 20px 40px; }

.c-footer-text__primary {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #000; }

.c-footer-text__secondary {
  font-size: 12px;
  font-weight: 400;
  color: #505050; }

.c-footer-info-text__primary {
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #000;
  padding-bottom: 25px; }

.c-footer-info-text__secondary {
  font-size: 11px;
  font-weight: 400;
  color: #505050;
  padding-bottom: 25px; }

.c-footer-info-text__underline {
  text-decoration: underline; }
